*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}
#Photography{
    height: 50px ;
    width: 100px ;
    font-size: 40px;
    font-family:"Fleur De Leah", cursive;
    color: rgb(67, 149, 150);
}
#mini{
    height: 50px ;
    width: 100px ;
    color: rgb(182, 19, 19);
    font-size: 20px;
    text-decoration: underline;
    
}
.add{
    position: relative;
    left: 40%;
}
.main_box{
    background-image: url(CSS\ mini\ P\ pic.jpg);
    background-position: relative;
    height:100vh ;
    background-size: cover ;
}
.sidebar_menu{
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 1px 2px white ;
    transition: all 0.3s linear;
    
}
.btn_one{
    position:absolute;
    font-size: 27px;
    font-weight:400;
    padding-left: 10px;
    cursor: pointer;
}
.sidebar_menu .a{
    position: absolute;
    left: 30px;
}

.sidebar_menu .logo a{
    position: absolute;
    height: 40px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: rgb(183, 51, 11);
    box-shadow: 0px 1px 2px white ;

}

.btn_two i {
    position: absolute;
    top: 5px;
    left: 280px;
    opacity: 1;
    color: gray;
    cursor: pointer;
}

.sidebar_menu .menu li{
    padding: 15px 20px ;
    position: relative;
    top: 40px;
}
.sidebar_menu .menu a,i{
    text-decoration: none;
    color: white;
}
.sidebar_menu .menu i{
    margin:10px;
}

.social_media{
    position: absolute;
    left: 25%;
    bottom:100px;
     
}
.sidebar_menu .social_media i{
    margin: 4px;
    opacity: 0.6;

}
#check{
    display: none;
}

.btn_two i:hover{
    font-size: 20px;
    transition: all 0.3s linear;

 } 
.btn_one i:hover{
    font-size: 32px;
    transition: all 0.3s linear;

}
.sidebar_menu .menu li:hover{
box-shadow: 0px 0px 4px rgb(178, 173, 173) ;
}

.social_media i:hover{
    opacity: 1;
    font-size: 18px;
        transition: all 0.2s linear;

}

#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one{
    display: none;
}